/*初始化*/ 
html, body, div, span, object, iframe,h1, h2, 
h3, h4, h5, h6, p, blockquote, pre,abbr, address, cite, code,del, dfn, 
em, img, ins,kbd, q, samp,small, strong, sub, sup, var,b, i,dl, dt, dd, 
ol, ul, li,fieldset, form, label, legend,table, caption, tbody, 
tfoot,thead,tr, th, td,article, aside, canvas, details, figcaption, 
figure, footer, header, hgroup, menu, nav, section, summary,time, mark, 
audio, video,input,button,textarea{
    margin:0;
    padding:0;
    border:0;
    outline:0; 
    vertical-align:baseline;
    background:transparent;
    outline-style:none;  
    font-family:'PingFang SC', 'Helvetica Neue', 'Helvetica', 'Microsoft Yahei', "微软雅黑", STHeiti, "华文细黑", 'STHeitiSC-Light', 'Arial', 'Hiragino Sans GB', sans-serif;
}
ul,li{
  list-style: none;
}
input[type="button"],input[type="text"], input[type="submit"], input[type="reset"], input[type="password"] {
-webkit-appearance: none;
}
textarea {-webkit-appearance: none;outline:none;border:none;} 
input:focus, textarea:focus {
outline: none;
} 
body {
    line-height:1;
}
 
a{
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
     
}
a:hover,a:focus{
    text-decoration:none;
    bblr:expression(this.onFocus=this.blur());
    outline-style:none;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
input, select {
    vertical-align:middle;
} 
.clearfix::before,
.clearfix::after{
    content: "";
    height: 0;
    line-height: 0;
    display: block;
    visibility: hidden;
    clear: both;
}
.clearfix:after{clear:both;} 
html {
  font-size: 20px;
}
@media screen and (max-width: 375px) {
  html {
    font-size: 9px;
  }
}

@media screen and (min-width: 375px) {
  html {
    font-size: 10px;
  }
}

@media screen and (min-width: 480px) {
  html {
    font-size: 12px;
  }
}

@media screen and (min-width: 550px) {
  html {
    font-size: 14px;
  }
}

@media screen and (min-width: 640px) {
  html {
    font-size: 16px;
  }
}

@media screen and (min-width: 750px) {
  html {
    font-size: 20px;
  }
}
/*初始化*/ 
html{ 
  background: #E8F3FF url(../images/background@2x.png) no-repeat 0 bottom;
  background-size: 100% 100%;
  min-height: 100%;
  width: 100%;
}
.left{
  float: left;
}
.right{
  float: right;
}
.text-left{
  text-align: left;
}
.text-center{
  text-align: center;
}
.text-right{
  text-align: right;
}
 
.no-scroll {
    height:100%;
    overflow: hidden;
}
.contain{
  width: 100%;
  height: auto;
}
.sub-con{
  width: 86%;
  margin:0 auto;
  font-size: 0.75rem;
}

header{
  height: 2.2rem;
  width: 100%;
  background: #007AFF;
}
header .h-left{
  height: 2.2rem;
  line-height: 2.2rem;
  padding-left: 1.75rem;
  background:url(../images/register_icon@2x.png) no-repeat left center;
  background-size: 1.5rem;
  font-size: 1rem;
  color: #fff;
  float: left;
}
header .h-right{
  height: 2.2rem;
  line-height: 2.2rem;
  font-size: 0.75rem;
  color: #fff;
  /*float: right;*/
  position: absolute;
  right: 1rem;
}
header .h-right span{
  display: inline-block;
}
header .h-right .s1{
  background:url(../images/location_icon@2x.png) no-repeat left center;
  background-size: 1.5rem;
  padding-left: 2rem;
}
header .h-right .s2{
  padding:0 1rem; 
  position: relative;
}
header .h-right .s2:after{
  width: 1px;
  height: 0.8rem;
  background:#fff;
  position: absolute;
  content:'';
  right: 0;
  top: 0.7rem;
  opacity: 0.6;
}
header .h-right .s3{
  margin-left: 1rem;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 100%;
  border:0.1rem solid #fff;
  display: inline-block;
  vertical-align: middle;
}
header .h-right .s4{
  padding-left: 0.8rem;
}
footer{
  font-size: 0.6rem;
  color: #BFBFBF;
  text-align: center;
  line-height:  1rem;
  padding: 2rem 0 1rem 0;
}
.middle{
  background: #FFFFFF;
  border-radius: 0.2rem;
  margin-top: 1rem;
}
.login-con{
  padding:2rem;
}
.hidden{
  overflow:hidden;
}
a,
.recep-item,
.recep-item ul,
.recep-item ul li,
{
  -webkit-user-select:none;
  -webkit-tap-highlight-color: rgba(200,200,200,0); 
}
